@font-face {
  font-family: 'TwCenMT-Regular';
  src: url("../fonts/TwCenMT-Regular.eot") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'TwCenMT-Regular';
  src: url("../fonts/TwCenMT-Regular.woff") format("woff"), url("../fonts/TwCenMT-Regular.ttf") format("truetype"), url("../fonts/TwCenMT-Regular.svg#TwCenMT-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
.cta_black, .cta_white {
  box-sizing: border-box;
  margin: .5rem 0 .5rem 0;
  width: 320px;
  height: 48px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3rem; }

.cta_black {
  background-color: #FFCD00;
  font-weight: bold;
  font-size: 14px;
  font-family: Verdana, Helvetica;
  color: #FBFBFB; }

.cta_black:hover {
  border: 1px solid #FFCD00;
  background-color: #FBFBFB;
  font-weight: bold;
  font-size: 14px;
  font-family: Verdana, Helvetica;
  color: #FFCD00; }

.cta_white {
  background-color: #FBFBFB;
  font-weight: bold;
  font-size: 14px;
  font-family: Verdana, Helvetica;
  color: #FFCD00; }

.cta_white:hover {
  background-color: #FFCD00;
  font-weight: bold;
  font-size: 14px;
  font-family: Verdana, Helvetica;
  color: #FBFBFB; }

.cta-container {
  grid-column: 1/3;
  width: 100%;
  display: flex;
  justify-content: center; }

.tittle-v1 {
  align-self: flex-start;
  font-weight: normal;
  font-size: 0.93rem;
  font-family: TwCenMT-Regular, sans-serif;
  color: #1C1C1B;
  width: 80.88%;
  margin-left: 1rem;
  box-sizing: border-box;
  border-bottom: 1px solid #929298; }

.tittle-v2 {
  width: 100%;
  padding: 0 4.44% 0 4.44%;
  box-sizing: border-box;
  margin: 0 0 0.5rem 0; }

.tittle-v2-h2 {
  margin-top: 1rem;
  padding-bottom: 0.5rem;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 0.93rem;
  font-family: TwCenMT-Regular, sans-serif;
  color: #1C1C1B;
  border-bottom: 1px rgba(146, 146, 152, 0.8) solid; }

.tittle-v2-h3 {
  width: 100%;
  text-align: center;
  font-weight: normal;
  font-size: 0.62rem;
  font-family: Verdana, Helvetica;
  color: #555559; }

.tittle-v2-h2-nosotros {
  font-size: 0.84rem; }

.section-nav {
  box-sizing: border-box;
  margin: .5rem 0 .5rem 0;
  align-self: center;
  bottom: 5%;
  width: 22.23%;
  display: flex;
  justify-content: space-around; }
  .section-nav a {
    background-color: #929298;
    border-radius: 50%;
    height: 16px;
    width: 16px; }
  .section-nav a:hover {
    background-color: #555559; }
  .section-nav .carousel-point-one:hover {
    background-color: #FFDB47; }
  .section-nav .carousel-point-two:hover {
    background-color: #555559; }
  .section-nav .carousel-point-one {
    background-color: #FFCD00; }

.article-img {
  position: relative;
  width: 2rem;
  height: 2rem;
  display: block;
  background-image: url(../img/dj_uno.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  margin-right: .5rem; }

/******************TABLET VERSION**************************/
@media only screen and (min-width: 700px) {
  .center-nav {
    grid-column: 1/3;
    width: 100%;
    justify-content: center; }
    .center-nav a {
      margin: 0 0.5rem; }

  .nav-songs {
    margin-top: 2rem; } }
/***********************PC VERSION******************************/
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none; }

html {
  font-size: 16px; }

@media only screen and (min-width: 700px) {
  html {
    font-size: 20px; } }
@media only screen and (min-width: 900px) {
  html {
    font-size: 22px; } }
body .mobile-nav {
  background-color: rgba(85, 85, 89, 0.54); }

@font-face {
  font-family: 'TwCenMT-Regular';
  src: url("../fonts/TwCenMT-Regular.eot") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'TwCenMT-Regular';
  src: url("../fonts/TwCenMT-Regular.woff") format("woff"), url("../fonts/TwCenMT-Regular.ttf") format("truetype"), url("../fonts/TwCenMT-Regular.svg#TwCenMT-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
.mobile-nav {
  max-height: 3rem;
  height: 6.71vh;
  width: 100%;
  background-color: #1C1C1B;
  position: fixed;
  top: 0;
  z-index: 2;
  display: block; }
  .mobile-nav .mobile-nav-list {
    box-sizing: border-box;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .mobile-nav .mobile-nav-list .mobile-nav-list-item-1 {
      position: absolute;
      left: 1rem;
      display: flex;
      align-items: center;
      width: 5%;
      height: 86%; }
    .mobile-nav .mobile-nav-list .mobile-nav-list-item-2 {
      display: flex;
      align-items: center;
      width: 43%;
      height: 62%; }
    .mobile-nav .mobile-nav-list .mobile-nav-list-item-menu {
      display: block;
      width: 100%;
      height: 30%;
      opacity: .54;
      background-image: url(../img/menu.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center; }
    .mobile-nav .mobile-nav-list .mobile-nav-list-item-logo {
      align-self: center;
      width: 100%;
      height: 100%;
      display: block;
      background-image: url(../img/logo_black.png);
      background-position: center;
      background-size: auto 100%;
      background-repeat: no-repeat; }

.mobile-nav-blur {
  background: black;
  opacity: 0.5;
  width: 16vw;
  height: 100vh;
  position: fixed;
  right: 0;
  z-index: 2; }

.nav-welcome-logo {
  display: none; }

.nav {
  box-sizing: border-box;
  display: none;
  width: 84%;
  height: 100vh;
  background-color: #FBFBFB;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2; }

.nav-list {
  padding: 0 0 0 0;
  font-weight: bold;
  font-family: Verdana, Helvetica;
  font-size: .75rem;
  margin-top: 0;
  width: inherit;
  color: #1C1C1B;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  background-color: inherit; }

.nav-mobile-picture {
  background-color: #1C1C1B;
  display: flex;
  width: 100%;
  height: 36%;
  justify-content: center;
  align-items: center; }

.nav-mobile-picture-img {
  height: 90.11%; }

.nav-list-item {
  margin: 1.5rem 0 0 1.5rem; }
  .nav-list-item a {
    color: inherit; }
  .nav-list-item :hover {
    color: #FFCD00; }

@media only screen and (orientation: landscape) and (max-width: 900px) {
  .mobile-nav {
    height: 11.71vh; }

  .nav-list-item {
    margin-top: 1rem; } }
@media screen and (min-width: 900px) and (orientation: landscape) {
  .nav-list-item {
    margin: 1rem; } }
@media screen and (min-width: 900px) {
  .nav-welcome-logo {
    width: 18%;
    position: absolute;
    display: block;
    left: 3%;
    top: 3%; }

  .mobile-nav {
    display: none; }

  .nav {
    padding: 1% 0;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 7.125vh;
    background-color: rgba(28, 28, 27, 0);
    position: absolute;
    top: 0;
    z-index: 2; }

  .nav-list {
    overflow: hidden;
    box-sizing: border-box;
    padding: 0 1rem 0 0;
    font-size: .75rem;
    margin-top: 0;
    width: 50%;
    color: #FBFBFB;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: static;
    background-color: inherit; }

  .nav-mobile-picture {
    display: none; }

  .nav-list-item {
    margin: 0; } }
@media only screen and (min-width: 1000px) and (min-height: 500px) and (orientation: landscape) {
  .nav {
    margin-top: 0.1rem; }

  .nav-list {
    min-width: 18.62rem;
    width: min-content; }

  .nav-list-item {
    margin: 0 0.5rem; }

  .nav-welcome-logo {
    width: 11.41%; } }
.header {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 56.25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem; }

.header-picture {
  background-color: #1C1C1B;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

@media screen and (orientation: landscape) {
  .header-picture {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden; }
    .header-picture img {
      min-width: 100%;
      min-height: 100%;
      position: absolute;
      z-index: -1;
      width: 150%;
      height: auto; } }
.header-picture::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(28, 28, 27, 0.55);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.header-name {
  position: relative;
  font-weight: bold;
  font-size: 2.68rem;
  font-family: TwCenMT-Regular, sans-serif;
  color: #FFCD00; }

.header::after {
  content: "";
  display: flex;
  justify-content: center;
  height: 66.94%;
  width: 63.61%;
  position: absolute;
  z-index: -1;
  opacity: 0.33;
  background-image: url("../img/Lobo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center; }

.header-sections {
  position: absolute;
  bottom: 2rem;
  font-weight: normal;
  font-size: 1.25rem;
  font-family: Verdana, Helvetica;
  color: #FBFBFB; }

.header-sections-blur {
  margin: 0 1rem;
  font-weight: normal;
  font-size: 1.25rem;
  font-family: Verdana, Helvetica;
  color: #929298; }

.header-sections-selection {
  position: absolute;
  bottom: -0.7rem;
  left: 1.5rem;
  background-color: #FFCD00;
  width: 26.25%;
  height: 0.37rem;
  transition: left;
  transition-duration: 500ms; }

.header-nosotros img {
  height: 100%;
  width: auto; }

.header-canciones .header-picture img {
  width: auto;
  height: 100%; }

.header-selection-us {
  left: 1rem; }

@media screen and (min-width: 330px) and (min-height: 400) {
  .header-nosotros img {
    height: auto;
    width: 100%;
    margin: 0; } }
@media screen and (min-width: 500px) and (min-height: 900px) {
  .header-nosotros img {
    height: auto;
    width: 150%;
    margin-left: 0; } }
/***********************PC VERSION******************************/
@media only screen and (min-width: 1000px) and (min-height: 600px) {
  .header-canciones .header-picture img {
    width: 100%;
    height: auto; }

  .header-nosotros img {
    height: auto;
    width: 150%;
    margin-left: 0; } }
.section-dj {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.section-dj-article {
  display: block;
  position: relative;
  width: 100%;
  height: 30vh;
  min-height: 272px;
  margin: .5rem 0 .5rem 0;
  overflow: hidden; }

.section-dj-img::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: inherit;
  background-size: cover;
  z-index: -1; }

.section-dj-img::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: inherit;
  z-index: 0; }

.section-dj-img {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: #1C1C1B;
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat; }

.section-dj-info {
  width: 100%;
  height: min-content;
  position: absolute;
  bottom: 0;
  background: #1C1C1B;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .5rem .5rem .5rem .5rem;
  box-sizing: border-box; }
  .section-dj-info h3 {
    font-weight: bold;
    font-size: 0.93rem;
    font-family: TwCenMT-Regular, sans-serif;
    color: #FFCD00; }
  .section-dj-info h3:hover {
    color: #FFDB47; }
  .section-dj-info span {
    display: none; }
  .section-dj-info p {
    max-height: 2.3rem;
    overflow: hidden;
    text-align: justify;
    white-space: pre-line;
    font-weight: normal;
    font-size: 0.62rem;
    font-family: Verdana, Helvetica;
    color: #FBFBFB; }

.section-dj-info-social-media {
  display: none; }

.dj-information, .disc-information, .disc-songs {
  padding: 0 4.2% 14.2% 4.2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 4.2% 4.2% 4.2%; }

.dj-information-genres, .dj-disc-info-genres, .disc-information-genres, .disc-songs-genres {
  font-weight: bold;
  font-size: 0.75rem;
  font-family: Verdana, Helvetica;
  color: #555559;
  margin-top: 1rem; }

.dj-information-p, .disc-information-p, .disc-songs-desc {
  text-align: justify;
  white-space: pre-line;
  margin-top: 1rem;
  font-weight: normal;
  font-size: 0.93rem;
  font-family: Verdana, Helvetica;
  color: #1C1C1B; }

.dj-information-tittle, .dj-disc-info-tittle, .disc-information-tittle, .disc-songs-tittle {
  font-weight: bold;
  font-size: 0.93rem;
  font-family: Verdana, Helvetica;
  color: #1C1C1B; }

.dj-information-links, .disc-information-links {
  display: inherit;
  flex-direction: inherit;
  justify-content: inherit;
  align-items: center; }

.dj-information-links-social, .disc-information-links-social {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  width: 20vh;
  max-width: 5.16rem;
  height: min-content; }
  .dj-information-links-social a, .disc-information-links-social a {
    display: block;
    width: 15vw;
    height: 15vw;
    max-width: 2.25rem;
    max-height: 2.25rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }

.dj-information-links-spotify, .disc-information-links-spotify {
  background-image: url("../img/spotify_black.png"); }

.dj-information-links-youtube, .disc-information-links-youtube {
  background-image: url("../img/youtube_black.png"); }

.dj-cta {
  margin-bottom: 1rem; }

.dj-discography {
  position: relative; }

.dj-disc {
  box-sizing: border-box;
  padding: 1rem;
  position: relative;
  width: 100%;
  height: min-content;
  display: grid;
  grid-template-columns: 34.44vw 1fr;
  grid-gap: 1rem; }
  .dj-disc .dj-disc-img-container {
    overflow: hidden;
    grid-column: 1/2;
    width: 34.44vw;
    max-width: 250px;
    max-height: 250px;
    height: 34.44vw;
    border-radius: 50%;
    background: #929298;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center; }
  .dj-disc .dj-disc-img-container-img {
    width: auto;
    height: 100%; }
  .dj-disc .dj-disc-p {
    padding-right: 10%;
    font-weight: normal;
    font-size: 0.75rem;
    font-family: Verdana, Helvetica;
    color: #555559; }

.dj-disc-info {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center; }
  .dj-disc-info .dj-disc-info-social {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between; }
    .dj-disc-info .dj-disc-info-social a {
      display: block;
      width: 2.25rem;
      height: 2.25rem;
      background-repeat: no-repeat;
      background-size: contain; }
    .dj-disc-info .dj-disc-info-social .dj-disc-info-social-spotify {
      background-image: url("../img/spotify_yellow.svg"); }
    .dj-disc-info .dj-disc-info-social .dj-disc-info-social-youtube {
      margin-left: 0.5rem;
      background-image: url("../img/youtube_yellow.svg"); }

.dj-nav {
  margin-top: 0;
  margin-bottom: 1rem;
  width: 100%;
  align-items: center;
  justify-content: center; }
  .dj-nav a {
    margin: 0 0.5rem; }

@media only screen and (orientation: landscape) {
  .section-dj {
    height: min-content; }

  .section-dj-article {
    min-height: 16rem; }

  .main-page-last-updates {
    height: min-content; } }
@media screen and (max-width: 700px) and (max-height: 1000px) and (orientation: landscape) {
  .main-page-welcome-wolf {
    width: 44vw; } }
@media screen and (min-width: 700px) and (min-height: 1000px) {
  .section-dj {
    min-height: 30rem;
    height: min-content;
    display: grid;
    grid-row-gap: 16px;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 16px;
    grid-template-rows: min-content;
    padding: 0 7%;
    box-sizing: border-box; }
    .section-dj h2 {
      grid-column: 1/3; }

  .section-dj-article {
    border-radius: 1rem;
    height: 100%; }

  .section-dj-info {
    height: min-content;
    padding: 2% 10%;
    min-height: min-content; }

  .dj-disc .dj-disc-info {
    justify-content: flex-start; }
  .dj-disc .dj-disc-p {
    padding-right: 0.5rem; } }
.disc-songs {
  padding: 0 12.5%;
  font-size: 0.75rem;
  margin-bottom: 25%; }

.disc-songs-desc {
  font-size: 0.75rem; }

.disc-songs-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: min-content;
  margin: 0 0 1rem 0; }

.disc-songs-container-item {
  min-height: min-content;
  max-height: 56px;
  background-color: rgba(146, 146, 152, 0.31);
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr;
  grid-column-gap: 0.5rem;
  padding: 0.5rem 1rem;
  grid-template-rows: repeat(2, 1fr);
  box-sizing: border-box;
  margin-top: 1rem; }
  .disc-songs-container-item span, .disc-songs-container-item i {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%; }

.disc-songs-container-item-artboard {
  align-self: center;
  width: 50%;
  height: 100%;
  max-width: 43.2188px;
  max-height: 36px;
  background: #555559;
  grid-row: 1/3;
  display: flex;
  justify-content: center;
  margin: 0 25%;
  background-size: cover;
  background-position: center;
  background-size: cover; }

.disc-songs-container-item-icon {
  grid-column: 4/5;
  grid-row: 1/3;
  background-image: url(../img/play-icon.svg);
  background-position: center;
  background-size: initial;
  background-repeat: no-repeat; }

.disc-songs-container-item-name {
  grid-row: 1/2;
  grid-column: 2/3;
  font-weight: bold;
  font-size: 0.75rem;
  font-family: Verdana, Helvetica;
  color: #555559; }

.disc-songs-container-item-artist {
  grid-row: 2/3;
  grid-column: 2/3;
  font-weight: normal;
  font-size: 0.75rem;
  font-family: Verdana, Helvetica;
  color: #555559; }

.disc-songs-container-item-duration {
  justify-content: center;
  grid-row: 1/3;
  grid-column: 3/4;
  font-weight: normal;
  font-size: 0.75rem;
  font-family: Verdana, Helvetica;
  color: #555559; }

.dj-disc-info-genres {
  margin: 0; }

@media screen and (min-width: 1000px) {
  .dj-disc-info-genres {
    position: relative;
    margin: 0; }

  .section-dj {
    padding-left: 1rem;
    margin-bottom: 0;
    overflow: hidden;
    box-sizing: border-box; }
    .section-dj h2 {
      margin-bottom: 1rem;
      align-self: flex-start; }

  .section-dj-article {
    margin-left: 1rem;
    width: 77.81%;
    align-self: flex-start;
    height: min-content;
    min-block-size: min-content;
    min-height: fit-content;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: center;
    align-items: center; }

  .section-dj-info-social-media {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between; }
    .section-dj-info-social-media a {
      display: block;
      width: 2.25rem;
      height: 2.25rem;
      background-repeat: no-repeat;
      background-size: contain; }
    .section-dj-info-social-media .section-dj-info-social-media-spotify {
      background-image: url("../img/spotify.png"); }
    .section-dj-info-social-media .section-dj-info-social-media-youtube {
      margin-left: 0.5rem;
      background-image: url("../img/youtube.png"); }

  .section-dj-info {
    background: none;
    position: static;
    align-items: flex-start;
    height: min-content;
    padding-left: 1rem; }
    .section-dj-info p {
      color: #1C1C1B; }
    .section-dj-info span {
      font-weight: bold;
      font-size: 0.66rem;
      font-family: Verdana, Helvetica;
      color: #929298;
      display: block; }

  .dj-information-tittle {
    margin-top: 3%; }

  .dj-information-p {
    white-space: pre-line;
    padding: 0 12.5%;
    font-size: 0.75rem; }

  .section-dj-img {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    display: block;
    box-sizing: border-box;
    min-height: 18vw;
    min-height: 18vw;
    max-height: 18vw;
    max-width: 18vw; }

  .section-dj-img::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: inherit;
    background-size: cover;
    z-index: -1; }

  .section-dj-img::before {
    display: none; }

  .dj-discography {
    margin-bottom: 10%; }

  .disc-songs {
    padding: 0 12.5%;
    font-size: 0.75rem; }

  .dj-disc {
    grid-template-columns: 13.82vw 1fr; }
    .dj-disc .dj-disc-img-container {
      width: 13.82vw;
      height: 13.82vw; }
    .dj-disc .dj-disc-info {
      justify-content: flex-start; }

  .dj-disc .dj-disc-p {
    padding-right: 10%;
    font-size: 0.75rem; } }
@media only screen and (min-width: 1000px) and (min-height: 600px) {
  .disc-songs-container-item {
    margin: 1rem 10% 0 10%; } }
.main-page-last-updates {
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  height: 60.78vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: .5rem 0 .5rem 0; }

.main-page-last-updates-h2 {
  font-size: 1.06rem;
  font-family: TwCenMT-Regular, sans-serif;
  color: #555559;
  margin-bottom: 1rem; }

/**CARROUSEL**/
.carousel {
  width: 100%;
  height: 52vh;
  min-height: 52vh;
  position: relative;
  background: #555559;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 0; }

.carrousel-img-container {
  width: 100%;
  background-repeat: no-repeat;
  height: 100%;
  background-image: inherit;
  background-position: center;
  background-size: contain;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1; }

.carousel-article {
  width: 100%;
  height: 100%;
  padding: 0.5rem 1rem 1rem 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: rgba(28, 27, 28, 0.4); }

.carousel-article-tittle {
  position: absolute;
  left: 4rem; }

.carousel-nav {
  position: absolute;
  align-self: center;
  bottom: 5%;
  width: 22.23%;
  display: flex;
  justify-content: space-around; }
  .carousel-nav a {
    background-color: #929298;
    border-radius: 50%;
    height: 16px;
    width: 16px; }
  .carousel-nav .carousel-point-one:hover {
    background-color: #FFDB47; }
  .carousel-nav .carousel-point-two:hover {
    background-color: #555559; }
  .carousel-nav .carousel-point-one {
    background-color: #FFCD00; }

.carousel-article-tittle a {
  font-weight: bold;
  font-size: 0.93rem;
  font-family: Verdana, Helvetica;
  color: #FFCD00; }

.carousel-article-content {
  width: 100%;
  margin-top: 0.5rem;
  font-weight: normal;
  font-size: 0.75rem;
  font-family: Verdana, Helvetica;
  color: #FBFBFB; }

@media only screen and (orientation: landscape) {
  .main-page-last-updates {
    height: min-content; } }
@media screen and (min-width: 700px) and (min-height: 1000px) {
  .carousel-article-content {
    width: 50%; } }
/******************PC*****************************************/
@media screen and (min-width: 1000px) and (min-height: 600px) {
  .main-page-last-updates {
    height: min-content;
    min-height: 20rem;
    margin: 0; }

  .carousel-article-content {
    width: 50%; }

  .carousel {
    margin: 1rem 0;
    height: 90vh;
    min-height: 70vh; }

  .carousel-nav {
    position: absolute;
    align-self: center;
    bottom: 5%;
    width: 10%;
    display: flex;
    justify-content: space-around; } }
.discos {
  height: min-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 1rem 0 0 0;
  padding: 0 1rem 1rem 1rem;
  box-sizing: border-box;
  overflow: hidden; }

.discos-titulo {
  position: relative;
  right: 10%;
  width: 110.2%; }

.discos-disco {
  position: relative;
  margin: 2rem 0 7.5rem 0;
  height: min-content;
  max-height: 19rem;
  width: 100%; }

.disco-avatar-tittle-container {
  box-sizing: border-box;
  margin: 0 0 0.5rem 0;
  width: 100%;
  height: min-content;
  display: flex;
  align-items: center; }

.disco-tittle {
  font-weight: bold;
  font-size: 0.93rem;
  font-family: Verdana, Helvetica;
  color: #1C1C1B; }
  .disco-tittle a {
    color: inherit; }

.disc-information-p {
  white-space: pre-line; }

.disco-picture {
  min-height: 16.25vh;
  position: relative;
  width: 100%;
  height: 50%;
  overflow: hidden;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/img/artboard.jpg);
  background-size: cover;
  background-position: center 10%; }

.disco-picture::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(28, 28, 27, 0.4); }

.disco-picture-container {
  display: flex;
  align-items: center;
  width: 28.61vh;
  height: 28.61vh;
  overflow: hidden; }

.disco-img-picture-img {
  position: relative;
  z-index: 2;
  width: 100%;
  height: auto; }

.disco-p {
  margin: 1rem 0 0 0;
  width: 90%;
  height: min-content;
  font-weight: normal;
  font-size: 0.75rem;
  font-family: Verdana, Helvetica;
  color: #1C1C1B;
  padding: 0 0 0 0.5rem; }

.discos-titulo {
  position: static;
  width: 80.88%; }

@media only screen and (orientation: landscape) {
  .disco-picture-container {
    width: 74.61vh;
    height: 65.61vh;
    overflow: hidden; } }
@media only screen and (min-width: 700px) and (min-height: 1000px) {
  .disc-information-p {
    padding: 0 12.5%;
    font-size: 0.75rem; }

  .discos-titulo {
    position: relative;
    right: 10%;
    width: 110.2%; }

  .discos {
    padding: 2% 12% 3%; }

  .disco-picture {
    height: 56%; }

  .discos-disco {
    max-height: 15rem; } }
/******************PC*****************************************/
@media screen and (min-width: 1000px) and (min-height: 500px) {
  .discos {
    justify-content: space-between;
    padding: 1rem 0 1rem 1.2rem;
    flex-flow: wrap;
    flex-wrap: wrap;
    flex-wrap: wrap; }

  .discos-disco {
    max-height: 15rem;
    padding-left: 1rem;
    box-sizing: border-box;
    width: 45%;
    margin-bottom: 1rem;
    min-height: min-content;
    height: 50vh; }

  .disc-information-p {
    padding: 0 12.5%;
    font-size: 0.75rem; }

  .discos-titulo {
    justify-self: flex-start;
    position: static;
    right: 10%;
    width: 80.88%; }

  .disco-p {
    width: 70%; }

  .disco-picture {
    height: 56%;
    width: 90%; }

  .disco-img-picture-img {
    position: relative;
    z-index: 2;
    height: 100%; }

  .disco-picture-container {
    width: 28.61vh;
    height: 100%;
    overflow: hidden;
    max-height: 33.61vh; } }
.about-us-section {
  padding: 1rem;
  text-align: center; }

.about-us-tittle {
  font-weight: bold;
  font-size: 0.75rem;
  font-family: Verdana, Helvetica;
  color: #555559;
  margin-bottom: 1rem; }

.about-us-p {
  font-weight: normal;
  font-size: 0.93rem;
  font-family: Verdana, Helvetica;
  color: #1C1C1B;
  text-align: justify; }

.about-pictures {
  width: 100%;
  height: min-content;
  overflow: hidden;
  position: relative; }

.about-pictures-item {
  box-sizing: border-box;
  display: block;
  height: 40vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  transition-property: opacity;
  transition-duration: 1000ms; }

.about-pictures-item:hover {
  opacity: 0.80; }

.about-pictures-item-img {
  width: auto;
  height: 100%;
  position: absolute;
  z-index: -1; }

.about-pictures-item-desc {
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  height: 36.50%;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem 1rem 1rem;
  position: absolute;
  bottom: 0;
  background-color: rgba(28, 28, 27, 0.76);
  font-weight: normal;
  font-size: 0.93rem;
  font-family: Verdana, Helvetica;
  color: #FBFBFB; }

@media only screen and (orientation: landscape) {
  .about-us-p {
    padding: 0 10%; }

  .about-pictures {
    padding: 0 10%;
    box-sizing: border-box;
    margin: 1% 0 3% 0; }

  .about-pictures-item {
    margin-top: 1rem;
    height: 50vh; }

  .about-pictures-item-img {
    width: 100%;
    height: auto; } }
@media screen and (min-width: 500px) and (min-height: 900px) {
  .about-us-p {
    font-size: 0.75rem; }

  .about-pictures {
    padding: 0 10%;
    box-sizing: border-box;
    margin: 1% 0 3% 0; }

  .about-pictures-item {
    margin-top: 1rem;
    height: 29vh; }

  .about-pictures-item-img {
    width: 100%;
    height: auto; }

  .about-us-section {
    padding: 0 10%; } }
/***********************PC VERSION******************************/
@media only screen and (min-width: 1000px) and (min-height: 600px) {
  .about-us-tittle {
    margin: 2rem 0 0.5rem 0; }

  .about-us-p {
    font-size: 0.75rem; }

  .about-pictures {
    display: flex;
    margin: 2% 0; }

  .about-pictures-item-img {
    width: auto;
    height: 100%;
    margin-left: -3rem; }

  .about-us-section {
    padding: 0 12.5%; }

  .about-us-tittle {
    padding: 0 12.5%; }

  .about-pictures-item-desc {
    font-size: 0.75rem; } }
.contact-form {
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6.66%;
  box-sizing: border-box; }

.contact-form-input {
  background: #1C1C1B;
  font-weight: bold;
  font-size: 0.62rem;
  font-family: Verdana, Helvetica;
  color: #FBFBFB;
  color: #FBFBFB;
  box-sizing: border-box;
  width: 100%;
  min-height: 2.5rem;
  height: 6.25vh;
  padding: 1rem;
  margin-bottom: 1.5rem; }

.contact-direct, .contact-direct h2 {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.contact-direct-icons {
  max-width: 11.33rem;
  overflow: hidden;
  width: 50%;
  height: min-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem; }

.contact-direct-icons-item {
  max-width: 80px;
  max-height: 80px;
  width: 5rem;
  height: 5rem;
  display: block;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }

.icon-gmail {
  background-image: url(../img/gmail.svg); }

.icon-whatsapp {
  background-image: url(../img/whatsapp.svg);
  margin: 0 1rem; }

.icon-facebook {
  background-image: url(../img/facebook.svg); }

.made-contact {
  min-height: 16rem;
  height: min-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; }
  .made-contact h3 {
    margin-bottom: 2rem; }

@media screen and (min-width: 500px) and (min-height: 900px) {
  .contact-direct-icons {
    margin: 5% 0; }

  .contact-form-input {
    font-size: 0.75rem; } }
/***********************PC VERSION******************************/
@media only screen and (min-width: 1000px) and (min-height: 600px) {
  .contact-form-input {
    margin-bottom: 1rem; }

  .contact-direct-icons {
    margin: 5% 0; }

  .contact-form, .contact-direct, .tittle-contact {
    padding: 0 12.25%; }

  .contact-form {
    padding-top: 1rem; }

  .contact-direct {
    margin-top: 2rem; } }
.footer {
  margin-top: 3rem;
  height: min-content;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box; }

.footer-contact {
  overflow: hidden;
  padding: 0 1rem 0 1rem;
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #1C1C1B;
  box-sizing: border-box;
  color: #FBFBFB;
  font-weight: "normal";
  font-size: 0.75rem;
  font-family: Verdana, Helvetica;
  color: #FBFBFB;
  text-align: center; }

.footer-contact-logo {
  width: 46.66vw; }

.footer-contact-iso {
  width: 55vw; }

.footer-nav {
  background-color: #1C1C1B;
  width: 100%;
  padding-top: 3%;
  height: 20%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center; }

.footer-nav-icon {
  width: 29.44vw; }

.footer-nav-sections {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 0 1rem 0 1rem; }
  .footer-nav-sections a {
    font-weight: "normal";
    font-size: 0.75rem;
    font-family: Verdana, Helvetica;
    color: #FBFBFB; }

.footer-nav-social {
  max-width: 6.37rem;
  padding-bottom: 5%;
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 38.05vw;
  height: min-content; }
  .footer-nav-social li {
    display: block;
    height: 100%; }
  .footer-nav-social a {
    display: block;
    width: 1.75rem;
    max-width: 36px;
    height: 1.75rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; }

.footer-nav-social-fb {
  background-image: url(../img/facebook.svg); }

.footer-nav-social-spotify {
  background-image: url(../img/spotify.svg); }

.footer-nav-social-youtube {
  background-image: url(../img/youtube.svg); }

@media only screen and (orientation: landscape) and (max-width: 999px) {
  .footer-nav-icon {
    width: 21.44vw; }

  .footer-contact p {
    padding: 0 10%;
    margin: 0 0 1rem 0; }

  .footer-contact-logo {
    width: 25.66vw; } }
/****************** TABLET VERSION **********************************************/
@media only screen and (min-width: 700px) and (min-height: 1000px) and (orientation: portrait) {
  .footer-contact {
    padding: 1rem 1rem 0 1rem; }
    .footer-contact p {
      margin: 5% 0;
      padding: 0 10%; }

  .footer-contact-iso {
    width: 45vw; }

  .footer-contact-logo {
    width: 30%; }

  .footer-nav {
    padding: 5% 0 0 0; }

  .footer-nav-sections {
    width: 60%; }

  .footer-nav-social {
    width: 20%; } }
/***********************PC VERSION******************************/
@media only screen and (min-width: 1000px) and (min-height: 600px) {
  .footer-contact {
    padding-left: 8.7%;
    padding-right: 8.7%; }
    .footer-contact p {
      margin-bottom: 5%;
      padding: 0 5%; }

  .footer-nav-sections {
    min-width: 25.25%;
    width: min-content; }
    .footer-nav-sections li {
      margin: 0 0.66rem; }

  .footer-contact-iso {
    width: 27.5vw;
    padding: 0.5rem 1rem; }

  .footer-contact-logo {
    width: 20%;
    margin: 0.66rem 0 0; }

  .footer-nav {
    flex-direction: row;
    align-items: center;
    padding: 1% 1.2rem;
    justify-content: space-between;
    height: 14vh; }

  .footer-nav-social {
    margin: 0;
    padding: 0; }

  .footer-nav-icon {
    width: 12.4vw; } }

/*# sourceMappingURL=sections.css.map */
