@font-face {
  font-family: Tw-Cen-Mt;
  src: url(../fonts/Tw-Cen-MT.ttf); }
.cta_black, .cta_white {
  box-sizing: border-box;
  margin: .5rem 0 .5rem 0;
  width: 320px;
  height: 48px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3rem; }

.cta_black {
  background-color: #FFCD00;
  font-weight: bold;
  font-size: 14px;
  font-family: Verdana, Helvetica;
  color: #FBFBFB; }

.cta_black:hover {
  border: 1px solid #FFCD00;
  background-color: #FBFBFB;
  font-weight: bold;
  font-size: 14px;
  font-family: Verdana, Helvetica;
  color: #FFCD00; }

.cta_white {
  background-color: #FBFBFB;
  font-weight: bold;
  font-size: 14px;
  font-family: Verdana, Helvetica;
  color: #FFCD00; }

.cta_white:hover {
  background-color: #FFCD00;
  font-weight: bold;
  font-size: 14px;
  font-family: Verdana, Helvetica;
  color: #FBFBFB; }

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none; }

html {
  font-size: 16px; }

@media only screen and (min-width: 700px) {
  html {
    font-size: 20px; } }
@media only screen and (min-width: 900px) {
  html {
    font-size: 24px; } }
body .mobile-nav {
  background-color: rgba(85, 85, 89, 0.54); }

@font-face {
  font-family: Tw-Cen-Mt;
  src: url(../fonts/Tw-Cen-MT.ttf); }
.mobile-nav {
  height: 6.71vh;
  width: 100vw;
  background-color: #1C1C1B;
  position: fixed;
  top: 0;
  z-index: 2;
  display: block; }
  .mobile-nav .mobile-nav-list {
    box-sizing: border-box;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .mobile-nav .mobile-nav-list .mobile-nav-list-item-1 {
      position: absolute;
      left: 1rem;
      display: flex;
      align-items: center;
      width: 5%;
      height: 86%; }
    .mobile-nav .mobile-nav-list .mobile-nav-list-item-2 {
      display: flex;
      align-items: center;
      width: 43%;
      height: 62%; }
    .mobile-nav .mobile-nav-list .mobile-nav-list-item-menu {
      display: block;
      width: 100%;
      height: 30%;
      opacity: .54;
      background-image: url(../img/menu.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center; }
    .mobile-nav .mobile-nav-list .mobile-nav-list-item-logo {
      align-self: center;
      width: 100%;
      height: 100%;
      display: block;
      background-image: url(../img/logo_black.png);
      background-position: center;
      background-size: auto 100%;
      background-repeat: no-repeat; }

.mobile-nav-blur {
  background: black;
  opacity: 0.5;
  width: 16vw;
  height: 100vh;
  position: fixed;
  right: 0;
  z-index: 2; }

.nav-welcome-logo {
  display: none; }

.nav {
  box-sizing: border-box;
  display: none;
  width: 84vw;
  height: 100vh;
  background-color: #FBFBFB;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2; }

.nav-list {
  padding: 0 0 0 0;
  font-weight: bold;
  font-family: Verdana, Helvetica;
  font-size: .75rem;
  margin-top: 0;
  width: inherit;
  color: #1C1C1B;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  background-color: inherit; }

.nav-mobile-picture {
  background-color: #1C1C1B;
  display: flex;
  width: 100%;
  height: 36%;
  justify-content: center;
  align-items: center; }

.nav-mobile-picture-img {
  height: 90.11%; }

.nav-list-item {
  margin: 1.5rem 0 0 1.5rem; }
  .nav-list-item a {
    color: inherit; }
  .nav-list-item :hover {
    color: #FFCD00; }

@media screen and (min-width: 900px) {
  .nav-welcome-logo {
    width: 18%;
    position: absolute;
    display: block;
    left: 3%;
    top: 3%; }

  .mobile-nav {
    display: none; }

  .nav {
    padding-top: 1%;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    width: 100vw;
    height: 7.125vh;
    background-color: rgba(28, 28, 27, 0);
    position: absolute;
    top: 0;
    z-index: 2; }

  .nav-list {
    overflow: hidden;
    box-sizing: border-box;
    padding: 0 5% 0 0;
    font-size: .75rem;
    margin-top: 0;
    width: 40vw;
    color: #FBFBFB;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: static;
    background-color: inherit; }

  .nav-mobile-picture {
    display: none; }

  .nav-list-item {
    margin: 0; } }
@media only screen and (min-width: 900px) {
  .nav-list {
    width: 55%; } }
@media only screen and (min-width: 1000px) {
  .nav-list {
    width: 50%; } }
@media only screen and (min-width: 1100px) {
  .nav-list {
    width: 45%; } }
@media only screen and (min-width: 1200px) {
  .nav-list {
    width: 40%; } }
@media only screen and (min-width: 1300px) {
  .nav-list {
    width: 30; } }
.header {
  position: relative;
  width: 100vw;
  height: 56.25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.header-picture {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .header-picture img {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: auto; }

.header-picture::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(28, 28, 27, 0.48);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.header-name {
  position: relative;
  font-weight: bold;
  font-size: 2.68rem;
  font-family: Tw-Cen-Mt, sans-serif;
  color: #FFCD00; }

.header::after {
  content: "";
  display: flex;
  justify-content: center;
  height: 66.94%;
  width: 63.61%;
  position: absolute;
  z-index: -1;
  opacity: 0.33;
  background-image: url(/img/Lobo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center; }

/*# sourceMappingURL=sections.css.map */
