 //Celulares muy pequeños
 @media screen and (min-width: 330px) and (min-height: 400){
     
 }
 .cta_black, .cta_white{
    box-sizing: border-box; 
    margin: .5rem 0 .5rem 0;
    width: 320px;
    height: 48px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3rem;
}
.cta_black{
    background-color: $color_amarillo;
    @include font($color_blanco, $font_body, 14px, bold);
}
.cta_black:hover{
    border: 1px solid $color_amarillo;
    background-color: $color_blanco;
    @include font($color_amarillo, $font_body, 14px, bold);
}

.cta_white{
    background-color: $color_blanco;
    @include font($color_amarillo, $font_body, 14px, bold);
}
.cta_white:hover{
    background-color: $color_amarillo;
    @include font($color_blanco, $font_body, 14px, bold);

}
.cta-container{
    grid-column: 1/3;
    width: 100%;
    display: flex;
    justify-content: center;
}
.tittle-v1{
    align-self: flex-start;
    @include font($color_gris_fuerte, $font-tittle, .93rem);
    width: 80.88%;
    margin-left: 1rem;
    box-sizing: border-box;
    border-bottom: 1px solid $color_gris_claro;
}
.tittle-v2{
    width: 100%;
    padding: 0 4.44% 0 4.44%;
    box-sizing: border-box;
    margin: 0 0 0.5rem 0;
}
.tittle-v2-h2{
    margin-top: 1rem;
    padding-bottom: 0.5rem;
    width: 100%;
    text-align: center;
    @include font($color_gris_fuerte, $font_tittle, .93rem, bold);
    border-bottom: 1px rgba($color: $color_gris_claro, $alpha: .8) solid;
}
.tittle-v2-h3{
    width: 100%;
    text-align: center;
    @include font($color_gris, $font_body, .62rem, normal);
}
.tittle-v2-h2-nosotros{
    font-size: 0.84rem;
}
.section-nav{//Botones amarillos de navegación
    box-sizing: border-box;
    margin: .5rem 0 .5rem 0;
    align-self: center;
    bottom: 5%;
    width: 22.23%;
    display: flex;
    justify-content:space-around;
    
    a{
        background-color: $color_gris_claro;
        border-radius: 50%;
        height: 16px;
        width: 16px;
    }
    a:hover{
        background-color: $color_gris;
    }
}
.article-img{//imagen pequeña de avatar
    position: relative;
    width: 2rem;
    height: 2rem;
    display: block;
    background-image: url(../img/dj_uno.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin-right: .5rem;
}

/******************TABLET VERSION**************************/
@media only screen and (min-width: 700px) {
    .center-nav{
        grid-column: 1/3;
        width: 100%;
        justify-content: center;
        a{
            margin: 0 0.5rem;
        }
    }
    .nav-songs{
        margin-top: 2rem;
    }
}

/***********************PC VERSION******************************/
@media only screen and (min-width: 1000px) and (min-height: 600px){
    

}