.discos{
    height: min-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 1rem 0 0 0;
    padding: 0 1rem 1rem 1rem;
    box-sizing: border-box;
    overflow: hidden;
}

.discos-titulo{
    position: relative;
    right: 10%;
    width: 110.2%;
}

.discos-disco{
    position: relative;
    margin: 1rem 0 2.5rem 0;

    width: 100%;
    height: min-content;
    max-height: 15rem;
}
.disco-avatar-tittle-container{
    box-sizing: border-box;
   
    margin: 0 0 0.5rem 0;
    width: 100%;
    height: min-content;
    display: flex;
    align-items: center;
}
.disco-tittle{
    @include font($color_gris_fuerte, $font_body, 0.93rem, bold);
    a{
        color: inherit;
    }
}
.disc-information-p{
    white-space: pre-line;
}
.disco-picture{
    
    min-height: 16.25vh;
    position: relative;
    width: 100%;
    height: 50%;
    overflow: hidden;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/img/artboard.jpg);
    background-size: cover;
    background-position: center 10%;
}
.disco-picture::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($color: $color_gris_fuerte, $alpha: .40);
}
.disco-picture-container{
    display: flex;
    align-items: center;
    width: 28.61vh;
    height: 28.61vh;
    overflow: hidden;   
 
}
.disco-img-picture-img{
    position: relative;
    z-index: 2;
    width: 100%;
    height: auto;
}
.disco-p{
    margin: 1rem 0 0 0;
    width: 90%;
    height: min-content;
    @include font($color_gris_fuerte, $font_body, 0.75rem, normal);
    padding: 0 0 0 0.5rem;
}
.discos-titulo{
    position: static;
    width: 80.88%;
}

@media only screen and (orientation: landscape){
.disco-picture-container{
    width: 74.61vh;
    height: 65.61vh;
    overflow: hidden;
    }
}
//*************************TABLETS*****************************
@media only screen and (min-width: 700px) and (min-height: 1000px){
    .disc-information-p{
        padding: 0 12.5%;
        font-size: 0.75rem;
    
    }
    .discos-titulo{
        position: relative;
        right: 10%;
        width: 110.2%;
    }
    .discos{
        padding: 2% 12% 3%;
    
    }
    
    .disco-picture{
        height: 56%;
    }
    .discos-disco{
        max-height: 15rem;
    }

}


/******************PC*****************************************/
@media screen and (min-width: 1000px) and (min-height: 500px){
    .discos{
        justify-content: space-between;
        padding: 1rem 0 1rem 1.2rem;
        flex-flow: wrap;
        flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .discos-disco{
            max-height: 15rem;
        padding-left: 1rem;
        box-sizing: border-box;
        width: 45%;
        margin-bottom: 1rem;
        min-height: min-content;
        height: 50vh;
    }
    .disc-information-p{
        padding: 0 12.5%;
        font-size: 0.75rem;
    
    }
    .discos-titulo{
        justify-self: flex-start;
        position: static;
        right: 10%;
        width: 80.88%;
    }
    
    .disco-p{
        width: 70%;
    }
    .disco-picture{
        height: 56%;
        width: 90%;
    }
    .disco-img-picture-img{
        position: relative;
        z-index: 2;
        height: 100%;
    }
    .disco-picture-container {
        width: 28.61vh;
        height: 100%;
        overflow: hidden;
        max-height: 33.61vh;
    }
}