@font-face{
    font-family: Tw-Cen-Mt;
    src: url(../fonts/Tw-Cen-MT.ttf);
}
$font-tittle: Tw-Cen-Mt, sans-serif;
$font-body: Verdana, Helvetica;

@mixin font($color,$tipo, $tamaño:16px)
{
    font-size: $tamaño;
    font-family: $tipo;
    font-color: $color;
}
