
@font-face {
    font-family: 'TwCenMT-Regular';
    src: url('../fonts/TwCenMT-Regular.eot') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'TwCenMT-Regular';
    src:  url('../fonts/TwCenMT-Regular.woff') format('woff'), 
    url('../fonts/TwCenMT-Regular.ttf')  
    format('truetype'), 
    url('../fonts/TwCenMT-Regular.svg#TwCenMT-Regular')
     format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  
  
$font-tittle: TwCenMT-Regular, sans-serif;
$font-body: Verdana, Helvetica;

@mixin font($color,$tipo, $tamaño:16px, $peso:normal)
{
    font-weight: $peso;
    font-size: $tamaño;
    font-family: $tipo;
    color: $color;
    
}
