.footer{
    height: min-content;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
}
.footer-contact{
    overflow: hidden;
    padding: 0 1rem 0 1rem;
    width: 100%;
    height: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: $color_gris_fuerte;
    box-sizing: border-box;
    color: $color_blanco; 
    @include font ($color_blanco,$font_body, 0.75rem, "normal" );
    text-align: center;
}
.footer-contact-logo{
    width: 46.66vw;
    
}
.footer-contact-iso{
    width: 55vw;

}

//Section footer nav
.footer-nav{
background-color: $color_gris_fuerte;
width: 100%;
padding-top: 3%;
height: 20%;
 box-sizing: border-box;
 display:flex;
 flex-direction: column;
 align-items: center;
 
}
.footer-nav-icon{
    width: 29.44vw;
}
.footer-nav-sections{
    box-sizing: border-box;
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 0 1rem 0 1rem;
    a{
        @include font($color_blanco, $font_body, 0.75rem, "normal");
    }
}
//iconos de redes sociales
.footer-nav-social{
    max-width: 6.37rem;
    padding-bottom: 5%;
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 38.05vw;
    height: min-content;
    li{
       display: block;
       height: 100%;
    }
    a{  
        display: block;
        width : 1.75rem;
        max-width: 36px;
        height: 1.75rem;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    
}
.footer-nav-social-fb{
    background-image: url(../img/facebook.png);
}
.footer-nav-social-spotify{
    background-image: url(../img/spotify.png);
}
.footer-nav-social-youtube{
    background-image: url(../img/youtube.png);
}


@media only screen and (orientation: landscape) and (max-width: 999px){
    .footer-nav-icon {

        width: 21.44vw;
        
    }
    .footer-contact{
        p{
            padding: 0 10%;
            margin: 0 0 1rem 0;
        }
    }
    .footer-contact-logo {
        width: 25.66vw;
    }
}
/****************** TABLET VERSION **********************************************/
@media only screen and (min-width: 700px) and (min-height: 1000px) and (orientation: portrait) {
    .footer-contact{
        padding: 1rem 1rem 0 1rem;
        p{
            margin: 5% 0;
            padding: 0 10%;
        }
    }
    .footer-contact-iso {
        width: 45vw;
    }
    .footer-contact-logo{
        width: 30%;
    }
    .footer-nav{
        padding: 5% 0 0 0;
    }
    .footer-nav-sections{
        width: 60%;
    }
    .footer-nav-social{
        width: 20%;
    }
}
/***********************PC VERSION******************************/
@media only screen and (min-width: 1000px) and (min-height: 600px){
   
    .footer-contact{
        padding-left: 8.7%;
        padding-right: 8.7%;
        p{
            margin-bottom: 5%;
            padding: 0 5%;
        }
    }
    .footer-nav-sections{
        min-width: 25.25%;
        width: min-content;
        li{
            margin:0 0.66rem;
        }
    }
.footer-contact-iso {
        width: 27.5vw;
        padding: 0.5rem 1rem;
  
    }
    .footer-contact-logo{
        width: 20%;
        margin: 0.66rem 0 0;
    }
    .footer-nav{
        flex-direction: row;
        align-items: center;
        padding: 1% 1.2rem;
        justify-content: space-between;
        height: 14vh;
    }
    .footer-nav-social{
        margin: 0;
        padding: 0;
    }
    .footer-nav-icon{
        width: 12.4vw;
    }
}