
.footer-contact{
    width: 100vw;
    height: 81.87vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: $color_gris_fuerte;
    color: $color_blanco; 
    @include font ($color_blanco,$font_body, 0.75rem, "normal" );
    text-align: center;
}
.footer-contact-logo{
    width: 46.66vw;
    height: 8.76hw;
}
.footer-contact-iso{
    width: 55vw;
    height: 32.65vh;
}

//Section footer nav
.footer-nav{
background-color: $color_gris_fuerte;
width: 100vw;
height: 20vh;
 box-sizing: border-box;
 display:flex;
 flex-direction: column;
 align-items: center;
 
}
.footer-nav-icon{
    width: 29.44vw;
}
.footer-nav-sections{
    box-sizing: border-box;
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 0 1rem 0 1rem;
    a{
        @include font($color_blanco, $font_body, 0.75rem, "normal");
    }
}
//iconos de redes sociales
.footer-nav-social{
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 38.05vw;
    height: 4.375vh;
    li{
       display: block;
       height: 100%;
    }
    a{  
        display: block;
        width : 1.75rem;
        height: 1.75rem;
    }
    
}
.footer-nav-social-fb{
   
    background-image: url(../img/facebook.png);
}
.footer-nav-social-spotify{
    background-image: url(../img/spotify.png);
}
.footer-nav-social-youtube{
    background-image: url(../img/youtube.png);
}
