
.header{
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 56.25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}
@media only screen and (orientation:landscape) and (max-width: 800px){
        .header{ 
               height: 100vh;
        }   
}
@media screen and (orientation:portrait){
    .header-picture{

        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        overflow: hidden;
        img{
            min-width: 100%;
            min-height: 100%;
            position: absolute;
            z-index: -1;
            width: 100%;
            height: auto;
        }
    }

}
@media screen and (orientation: landscape){
    .header-picture{

        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        overflow: hidden;
        img{
            min-width: 100%;
            min-height: 100%;
            position: absolute;
            z-index: -1;
            width: 150%;
            height: auto;
        }
    }

}

.header-picture::after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba($color: $color_gris_fuerte, $alpha: .48);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.header-name{
    position: relative;
    @include font($color_amarillo, $font_tittle, 2.68rem, bold);
}
.header::after{
    content: "";
    display: flex;
    justify-content: center;
    height: 66.94%;
    width: 63.61%;
    position: absolute;
    z-index: -1;
    opacity: 0.33;
    background-image: url(/img/Lobo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

}
.header-sections{
    position: absolute;
    bottom: 2rem;
    @include font($color_blanco, $font_body, 1.25rem);
}
.header-sections-blur{
    margin: 0 1rem;
    @include font($color_gris_claro, $font_body, 1.25rem);
}

.header-sections-selection{
    
    position: absolute;
    bottom: -0.7rem;
    left: 1.5rem;
    background-color: $color_amarillo;
    width: 26.25%;
    height: 0.37rem;
    transition: left;
    transition-duration: 500ms;

}
.header-nosotros{
    img{
        height: 100%;
        width: auto;
    }
}
.header-canciones{
    .header-picture{
        img{
            
            width: auto;
            height: 100%;
        }
    }
}
.header-selection-us{
    left: 1rem;
}

 //Celulares muy pequeños
 @media screen and (min-width: 330px) and (min-height: 400){
    .header-nosotros{
        img{
            height: auto;
            width: 100%;
            margin: 0;
        }
    }
}
//*************************TABLETS*****************************
@media screen and (min-width: 500px) and (min-height: 900px){
    .header-nosotros{
        img{
            height: auto;
            width: 150%;
            margin-left: 0;
        }
    }
}


/***********************PC VERSION******************************/
@media only screen and (min-width: 1000px) and (min-height: 600px){
    .header-canciones{
        .header-picture{
            img{
                width: 100%;
                height: auto;
            }
        }
    }

    .header-nosotros{
        img{
            height: auto;
            width: 150%;
            margin-left: 0;
        }
    }
}
