
.main-page-welcome-header-nav-list{
    color:white;
    position: fixed;
    right: 0;
    display: flex;
    list-style: none;   
}
.main-page-welcome-header-nav-list-item{
    margin: 0rem 1rem 0rem 1rem;
}