.section-dj{
    min-height: 50rem;
    width: 100%;
    height: 121.71vh;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2{
        align-self: flex-start;
        @include font($color_gris_fuerte, $font-tittle, .93rem);
        width: 80.88%;
        margin-left: 1rem;
        box-sizing: border-box;
        border-bottom: 1px solid $color_gris_claro;
    }
}
.section-dj-article{
    display: block;
    position: relative;
    width: 100%;
    height: 22.06%;
    margin: .5rem 0 .5rem 0;
    overflow: hidden;
}
.section-dj-img{
    img{
        width: 100%;
    }
}

.section-dj-info{
    width: 100%;
    height: 45.45%;
    position: absolute;
    bottom: 0;
    background: $color_gris_fuerte;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem .5rem .5rem .5rem;
    box-sizing: border-box;

    h3{
        @include font($color_amarillo, $font_tittle, .93rem, bold);
    }
    h3:hover{
        color: $color_amarillo_claro;
    }
    span{
        display: none;
    }
    p{
        @include font($color_blanco, $font_body, 0.62rem);
    }
}
.section-dj-info-social-media{
    display: none;
}
.section-dj-nav{
    box-sizing: border-box;
    margin: .5rem 0 .5rem 0;
    align-self: center;
    bottom: 5%;
    width: 22.23%;
    display: flex;
    justify-content:space-around;
    
    a{
        background-color: $color_gris_claro;
        border-radius: 50%;
        height: 16px;
        width: 16px;
    }
    a:hover{
        background-color: $color_gris;
    }
}
.dj-information{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0 4.2% 4.2% 4.2%;
}
.dj-information-genres, .dj-disc-info-genres{
    @include font($color_gris, $font_body, 0.75rem, bold);
    margin-top: 1rem;
}
.dj-information-p{
    margin-top: 1rem;
    @include font ($color_gris_fuerte, $font_body, 0.93rem, normal);
}
.dj-information-tittle, .dj-disc-info-tittle{
    @include font($color_gris_fuerte, $font_body, 0.93rem, bold); 
}
.dj-information-links{
    display: inherit;
    flex-direction: inherit;
    justify-content: inherit;
    align-items: center;
}
.dj-information-links-social{
    margin: 1rem 0;
    display: flex; 
    justify-content: space-between;
    width: 20vh;
    height: min-content;
    a{
        display: block;
        width: 15vw;
        height: 15vw;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}
.dj-information-links-spotify{
    background-image: url(/img/spotify_black.png);
}
.dj-information-links-youtube{
    background-image: url(/img/youtube_black.png);
}

//información de los discos
.dj-discography{
    position: relative;
    transition: all;
    transition-duration: 2000ms;
}
.dj-discography:hover{
    opacity: 0.3;
    left: 100vw;

}
.dj-disc{
    box-sizing: border-box;
    padding: 1rem;
    position: relative;
    width: 100%;
    height: min-content;
    display: grid;
    grid-template-columns: 34.44vw 1fr;
    grid-gap: 1rem;
    .dj-disc-img-container{
        overflow: hidden;
        grid-column: 1/2;
        width: 34.44vw;
        height: 34.44vw;
        border-radius: 50%;
        background: $color_gris_claro;
    }
    .dj-disc-img-container-img{
        width: 100%;
        height: auto;
    }
    .dj-disc-p{
        grid-column: 1/3;
        grid-row: 2/3;
        @include font($color_gris, $font_body, 0.75rem, normal);
        }
    

    
}
.dj-disc-info{
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    .dj-disc-info-social{
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;
       
        a{ 
            display: block;
            width: 2.25rem;
            height: 2.25rem;
            background-repeat: no-repeat;
            background-size: contain;
        }
        .dj-disc-info-social-spotify{
            background-image: url(/img/spotify.png);
        }
        .dj-disc-info-social-youtube{
            margin-left: 0.5rem;
            background-image: url(/img/youtube.png);
        }
    }
}


@media screen and (max-width: 700px) and (max-height:1000px) and (orientation: landscape){
    .main-page-welcome-wolf{
        width: 44vw;
    }
}

//*************************TABLETS*****************************
@media screen and (min-width: 700px) and (min-height: 1000px)
{
    //Tablet Horizontal
    .section-dj-info{
        height: 30%;
        padding: 2% 10%;
        min-height: min-content;
    }
    
}


//******************PC*****************************************
@media screen and (min-width: 1000px) and (orientation: landscape){
.section-dj{
    overflow: hidden;
    box-sizing: border-box;
    height: min-content;
    padding: 0 1.87% 1.87%;
    h2{
            align-self: flex-start;
    }
    
}
.section-dj-article{
    width:77.81%;
    align-self: flex-start;
    height: min-content;
    min-block-size: min-content;
    min-height: fit-content;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}
.section-dj-info-social-media{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
   
    a{ 
        display: block;
        width: 2.25rem;
        height: 2.25rem;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .section-dj-info-social-media-spotify{
        background-image: url(/img/spotify.png);
    }
    .section-dj-info-social-media-youtube{
        margin-left: 0.5rem;
        background-image: url(/img/youtube.png);
    }
}
.section-dj-info{
    background: none;
    position: static;
    align-items: flex-start;
    height: min-content;
    padding-left: 1rem;

    p{
        color:$color_gris_fuerte;
    }
    span{
        @include font($color_gris_claro, $font_body, 0.66rem, bold);
        display: block;
    }

}
.section-dj-img{
    width: min-content;
    div{
    border-radius: 50%;
    overflow: hidden;
    display: block;
    box-sizing: border-box;
    width: 264px;
    height: 264px;
    }
    img{
    display: block;
    position: static;
    margin-left: -100px;
    left: 0;
    width: auto;
    height: 100%;
    }
}


}